.products-container {
    padding: 20px;
    text-align: center;
  
    h2 {
      margin-bottom: 20px;
      font-size: 2em;
    }
  
    .product-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 20px;
      justify-items: center;
    }
  
    .product-card {
      border: 1px solid #ddd;
      border-radius: 8px;
      overflow: hidden;
      text-align: center;
      transition: transform 0.2s;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 350px;
      position: relative; /* Make this relative for overlay positioning */
  
      &:hover {
        transform: scale(1.16);
      }
  
      img {
        width: 100%;
        height: 200px; /* Set a fixed height for images */
        object-fit: cover;
        display: block;
      }
  
      h4 {
        margin: 10px;
        font-size: 1.5em;
      }
  
      p {
        margin: 10px;
        font-size: 1.2em;
        color: #333;
      }
  
      button {
        margin: 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff;
        color: white;
        font-size: 1em;
        cursor: pointer;
  
        &:hover {
          background-color: #0056b3;
        }
      }
    }
  
    .confirmation-overlay {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 1.2em;
      opacity: 0;
      transition: opacity 0.5s ease;
      pointer-events: none; /* Prevent interaction when hidden */
    }
  
    .confirmation-overlay.visible {
      opacity: 1;
      pointer-events: auto; /* Allow interaction when visible */
    }
  }
  