<div class="image-container">
    <img src="https://png.pngtree.com/thumb_back/fw800/background/20231017/pngtree-captivating-display-of-aromatic-spices-on-a-white-textured-table-image_13635737.png" alt="Spices Image">
    <div class="overlay">
        <h1>FRESH FOOD</h1>
        <button class="btn">VIEW PRODUCTS</button>
    </div>
</div>
<div class="info-container">
    <div class="info-item">
        <h3 class="odd">
            <i class="fas fa-leaf"></i> Natural
        </h3>
        <p>Consume Local, Closer to Nature</p>
    </div>
    <div class="info-item">
        <h3 class="even">
            <i class="fas fa-motorcycle"></i> Fastest Delivery
        </h3>
        <p>Delivery at your Doorstep</p>
    </div>
    <div class="info-item">
        <h3 class="odd">
            <i class="fas fa-clock"></i> 24X7 Support
        </h3>
        <p>Support Option Including 24x7</p>
    </div>
    <div class="info-item">
        <h3 class="even">
            <i class="fas fa-undo-alt"></i> Return Product
        </h3>
        <p>Product Return Process</p>
    </div>
</div>